.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: #2B032D;
    border-radius: 20px;
    overflow: hidden;

}


.side {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #e6d6ff;
    color: #2B032D;
    font-weight: 300;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#side2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #e6d6ff;
    color: #2B032D;
    font-weight: 300;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


#side2 h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

#side2 p {
    font-size: 18px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}


.side h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}

.side p {
    font-size: 18px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

.form-side {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #2B032D;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.backgroundimg{
    width: 100%;
    width: 465px;
    height: auto;
    position: absolute;
    left: 0%;
    bottom: -90%;
    z-index: 0;
}


.form-side p {
    font-size: 15px;
    margin: 0;
    text-align: left;
    line-height: 1.5;
}



.form-login {
  width: 100%;
  max-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5%;
  margin-bottom: 0;
}

.form-login label{
    display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.7);
  gap: 8px;
}

.form-login input{
    border-radius: 20px;
    background-color:#83729e49;
    backdrop-filter: blur (10px);
    padding: 10px;
    transition: all 0.5s ease-in;
    border: 2px solid #e6d6ff;
    color: #e6d6ff;
    margin: 0;
}


.form-login input:focus{
   border: 2px solid #2B032D; 
}

@media (max-width: 768px) {

    .login-container {
        flex-direction: column;

}

.side{
    width: 100%;
    height: 40%;
}

.form-side{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
}

.form-login label{
    width:100%;
    margin-left: 10px;
}

.form-login input{
    width:80%;
    margin:10px;
 
}

.form-side p {
    font-size: 15px;
    margin: 5px;
    text-align: center;

}


    
}