.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #2B032D;
    overflow-x: hidden;
    font-size: clamp(0.9rem, 1.8vw, 1rem);
    padding: 0;
    flex-wrap: wrap;
}


.profile-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #37003b;
    border-radius: 20px;
}

.foto-de-perfil{
    margin-top: 105%;
    color: #b6a7b5;
    
}


.useroptions{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b6a7b5;
    border-radius: 20px;
    color: #2B032D;

}




.profilephoto{
    color: #37003b;
    background-color: #b6a7b5;
    border-radius: 50%;
    margin-bottom: 22%;
    padding: 0;
    position: absolute;
}


.profile-banner{
    background-color: #410445;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    color: #b6a7b5;
}

.profile-banner svg{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 110px;
    top: 80%;
}

.profile-banner h1{
    font-weight: 400;
    font-size: 5rem;
    z-index: 1;
    margin: 1%;

}

.profile-banner p{
    font-weight: 400;
    z-index: 1;
    margin: 0;

}


.opc-user {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #b6a7b5;
    gap: 10px;
    margin-top: 5%;
}


.opc-user button {
   border-radius: 20px;
   color:#b6a7b5;
   border: none;
   outline: none;
   background: #2B032D;
   padding: 10px;
   width: 100%;
    max-width: 325px;
    gap: 15px;
    display: flex;
    justify-content: center;
    font-family: 'galter';
    font-size: 26px;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 3;
}


