@font-face {
    font-family: 'galter';
    src: url('../public/fonts/Galter.ttf')
}


html, body {
    font-family: 'galter';
    margin: 0;
    padding: 0;

    width: 100%;
    max-width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    scroll-behavior: smooth;

    background-color: #0B0B0F;
}

.transition-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1a1a2e; 
  z-index: 9999;
  pointer-events: none; 
  transform: translateY(100%); 
}



@tailwind base;
@tailwind components;
@tailwind utilities;